@model IEnumerable<UserReservationView>

@{
    ViewBag.Title = "All Reservations";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">

    @foreach (var reservation in Model)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <img src=@reservation.Room.ImgUrl class="card-img-top" alt="Room Image">
                <div class="card-body">
                    @if (reservation.IsApproved)
                    {
                        <h5 class="text-center text-success">Reservation is approved.</h5>
                    }
                    else
                    {
                        <form asp-controller="Reservation"
                              asp-area="Admin" asp-action="ApprovedReservation" asp-route-Id="@reservation.Id" method="post">
                            <input class="btn btn-primary" type="submit" value="Approved" />
                        </form>
                    }
                    <h5 class="card-title"><br />UserName: @reservation.UserName <br /><br />Room type: @reservation.Room.Type</h5>
                    <h5 class="text-danger">Check in: @reservation.StartDate.ToString("yyyy-MM-dd")  <br> Check out: @reservation.LeaveDate.ToString("yyyy-MM-dd")</h5>
                    <h6>Room view: @reservation.Room.View  Floor: @reservation.Room.Floor</h6>
                    <h5>Price per nigth: @reservation.Room.Price</h5>
                    <a class="btn btn-lg btn-danger" asp-route-id="@reservation.Id" asp-action="Delete">Cancel reservation</a>
                </div>
            </div>
        </div>
    }


</div>
