@model RoomViewModel
@{
    Model.StartDate = ViewBag.StartDate;
    Model.LeaveDate = ViewBag.LeaveDate;
}

<div class="col-md-4">
    <div class="card mb-3" >
        <img src=@Model.ImgUrl class="card-img-top" alt="Room Image">
        <div class="card-body">
           <h3>Type of Room: @Model.Type</h3>
           <h4>View: @Model.View</h4>
           <h4>Floor: @Model.Floor</h4>
           <h3>Price per night: @Model.Price</h3>
            <form asp-controller="Room" asp-action="ProceedRoomBooking" method="post">
                <input type="hidden" asp-for="Id"/>
                <input type="hidden" asp-for="@Model.StartDate"/>
                <input type="hidden" asp-for="@Model.LeaveDate"/>
                <button type="submit" class="btn btn-lg btn-primary">Book it now</button>
            </form>
        </div>
    </div>
</div>

